<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ContentType" value="application/json"/>
		<add key="FileMetaDataGet" value="https://localhost:7140/files"/>
		<add key="FileMetaDataPost" value="https://localhost:7140/Files/MetaData"/>
	</appSettings>
</configuration>